@import "tailwindcss";
@import 'print-js/dist/print.css';

@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
/* index.css or global.css */
.nav-link {
  @apply text-gray-700 hover:text-blue-600;
}

.nav-link-active {
  @apply border-b-2 border-blue-600 font-semibold text-blue-600;
}
@theme {
  /* --font-script: Great Vibes, cursive; */
  --font-primary: "Tiro Bangla", "serif";
}
html {
  scroll-behavior: smooth;
}
